<div class="section custom-section">
<div class="page-width">
   <div class="section-wrapper">
     <h3>{{ section.settings.description }}</h3>
   </div> 
</div>
</div>

{% schema %}
{
  "name": "custom practice section",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "description",
      "label": "Description"
    },
    
  ],
  "presets": [
    {
      "name": "custom practice section"
    }
  ]
}
{% endschema %}


