/* upsell product start */
.upsell_add_to_cart {
  padding-top: 30px;
}
.upsell_product_details, .product_image_details {
  display: flex;
}
.upsell-products svg {
  width: 1.5rem;
  position: relative;
  left: 45%;
  right: 0;
}
.upsell-products {
  display: flex;
  flex-direction: column;
}
.add_upsell_box {
  position: relative;
  top: 40px;
  bottom: 0;
  height: fit-content;
}


.product_details {
  padding-left: 10px;
}
.product_details a {
  text-decoration: none;
  color: #000;
}
.upsell-products .add_upsell {
  cursor: pointer;
}
.upsell_product_details {
  border: 1px solid #9da0a3;
  border-radius: 10px;
}
.upsell_product_container {
  margin-bottom: -5px;
}

.upsell_product_details .product_variations {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
  border: 1px solid #9da0a3;
  border-radius: 10px;
}

.upsell_add_to_cart p {
  font-size: large;
  font-weight: 600;
  font-family: sans-serif;
}

.upsell-products .upsell_product_container:nth-last-child(2) svg {
  display: none;
}
/* upsell product ends here */
/* limited offer */

#limited-time-offer {
  background-color: #ffedd5;
  border: 1px solid #fb923c;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin: 20px 0;
}

.offer-text {
  font-size: 18px;
  font-weight: bold;
  color: #dc2626;
}

#countdown {
  font-size: 24px;
  font-weight: bold;
  color: #1c1917;
}

#countdown span {
  display: inline-block;
  margin: 0 5px;
}

.quantity-control {
  display: flex;
  align-items: center;
}

.quantity-control button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.quantity-control .quantity-value {
  margin: 0 10px;
  font-size: 18px;
}

.quantity-control button:hover {
  background-color: #e0e0e0;
}


/* cart bubble */
  .cart-icon {
  display: inline-block;
}

.cart-icon #cart-icon-count {
  position: absolute;
  top: 0;
  right: 0px;
  background-color: #000;
  color: white;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex !important;
    align-items: center;
    justify-content: center;
}

.cart-icon.has-items #cart-icon-count {
  display: block;
}

.cart-icon #cart-icon-count {
  display: none;
}
.quantity-selector {
  display: inline-flex;
  align-items: center;
  border: .1rem solid #000;
  height: 47px;
  color: #000;
  margin:0 !important;
}
.quantity__label.form__label{
  margin: 0 0 6px 0;
}
.quantity-minus, .quantity-plus {
    width: calc(4.5rem / var(--font-body-scale));
    flex-shrink: 0;
    font-size: 1.8rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(var(--color-foreground));
    padding: 0;
    height: 47px;
}

.product-quantity {
    width: 50px;
    height: 46px;
    padding: 5px;
    margin: 0 10px;
    color: currentColor;
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-size: 1.6rem;
    font-weight: 500;
    opacity: .85;
    text-align: center;
    border: 0;
    -webkit-appearance: none;
    appearance: none;
     margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.9px 0;
    box-shadow: unset;
    outline: unset;
}

.product-swatches {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.swatch-container{
  position: relative;
  width: 78px;
  height: 38px;
}
.swatches {
  display: flex;
  gap: 10px;
}

.swatch--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.swatch-container .swatch {
    background: #fff;
    padding: 1rem 2rem;
    border: var(--variant-pills-border-width) solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
    color: rgba(var(--color-foreground));
    border-radius: 40px;
    color: rgb(var(--color-foreground));
    display: inline-block;
    margin:0rem .5rem 0rem 0;
    padding: 1rem 2rem;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    line-height: 1;
    text-align: center;
    transition: border var(--duration-short) ease;
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;
}
.swatch.swatch--selected {
    background: #121212;
}
.swatch-container .swatch-name{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    color: rgb(var(--color-foreground));
    z-index: 1001;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}
.swatch-container .swatch--selected +.swatch-name {
    color: #fff;
}
.swatch-container .swatch.swatch--disabled +.swatch-name{
      text-decoration: line-through;
}
button.add-to-cart-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0;
    padding: 0 3rem;
    cursor: pointer;
    font: inherit;
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(var(--color-button-text));
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(var(--color-button), var(--alpha-button-background));
    width: 100%;
    height: 47px;
}



p,span,.item-text{
  color:#000;
}

.shop-btn a{
  background: #FF9D30;
  border-radius: 9px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: unset;
  display:block;
}

.header {
  display:flex;
  justify-content:space-between;
}
.header__heading-link{
  padding:0;
}
/* Product section */

.product-image img{
  border-radius:16px;
}

.main-bundle-flex{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
}
.main-left,.main-right{
  flex:1;
}
.product-image img{
  width:100%;
  object-fit:cover;
}
.product-image{
  padding-right:40px;
}
.product-desc h3 {
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  font-size: 26px;
  line-height: 26px;
  margin:0;
}
.pdp_desc{
  font-size: 16px;
  line-height: 20px;
  color: #000;
  font-weight: 500;
}
.img-text-item{
  display:flex;
}
.item-img{
  margin-right:10px;
}
.item-text{
  color:#000;
}
.price-data{
  display:none;
}
.flavour-text h4{
  font-weight: 700;
  color: #000;
  font-size: 22px;
  line-height: 26px;
  margin: 15px 0 0 0;
  text-transform:uppercase;
}
.flavour-desc p{
  margin: 5px 0;
  color: #000;
  line-height: 20px;
  font-size: 16px;
}
.block-products-outer{
  border: 2px solid #42BEAB;
  border-radius: 8px;
  padding: 20px 20px;
  margin: 25px 0;
}
.block-product h4,.free-product h4,.extra-text{
  margin:0;
  font-size:18px;
  color:#000;
}
.quantity:after{
  display:none;
}
.quantity input {
  border: 0;
  width: 50px;
  margin: 0 auto;
  text-align: center;
}
.quantity{
  min-height: 40px;
  border-radius: 20px;
}
.quantity button{
  background: #42BEAB;
  border: unset;
  color: #fff;
  padding: 10px 15px;
}
.quantity button.qty-minus{
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.quantity button.qty-plus{
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}
.block-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dashed #42BEAB;
  margin-bottom: 10px;
}
.block-product:last-child .block-flex{
  border-bottom: unset;
  margin-bottom: 0px;
}
.left-block p{
  margin-top:0;
  margin-bottom:10px;
}
.quantity input:focus-visible{
  outline:none;
  box-shadow:unset;
}
.free-product{
  border: 2px solid #42BEAB;
  border-radius: 8px;
  padding: 15px 20px;
  margin: 25px 0;
  position: relative;
}
.offer-labels{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  left: 0;
  right: 0;
}
.cmn-offer{
  background: #42beab;
  padding: 3px 8px;
  border-radius: 100px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
}
.offerlabel {
    margin-right:10px;
}
.free-product p{
  margin:0;
}
.free-product-flex{
  display:flex;
  justify-content:space-between;
  align-items:center;
  border-bottom: 2px dashed #42BEAB;
  margin-bottom: 10px;
  padding-bottom:10px;
}
.subtotal{
  color: #FF9D30;
  font-weight: 600;
  font-size: 26px;
}
.discount{
  display: block;
  color: #8F8F8F;
  text-align: right;
  text-decoration: line-through;
}
.add-to-cart button{
  background: #FF9D30;
  border: 0;
  padding: 12px 20px;
  display: block;
  width: 100%;
  color: #fff;
  border-radius: 8px;
  opacity: 1;
  font-size:18px;
  cursor:pointer;
}
.add-to-cart button[disabled]{
   opacity: 0.5;
}
.info-text ul{
  padding:0;
}
.info-text ul li{
  list-style:none;
  display:flex;
  align-items:center;
  color:#000;
}
.info-text ul li:before{
  content:"";
  background-image:url("https://cdn.shopify.com/s/files/1/0531/9773/4053/files/right.png?v=1736425430");
  background-repeat:no-repeat;
  width:20px;
  height:20px;
  margin-right:10px;
  display:block;
}
.shiping-item{
  display:flex;
  align-items:center;
  margin-right:10px;
  margin-top:15px;
}
.shipping-text{
  display:flex;
  align-items:center;
  color:#000;
  font-size: 14px;
  justify-content:center;
}
.shipping-left img{
  margin-right:10px;
}
.quantity{
  width:110px;
}



@media only screen and (max-width: 990px) {
   header-drawer{
    display:none;
  }
}
@media only screen and (max-width: 768px) {
  .main-bundle-flex{
    display:block;
  }
  .product-image{
    padding-right:0;
  }
 
  .header-wrapper .header {
    padding: 10px 1rem 10px 1rem;
  }
  .main-right{
    padding-top:10px;
  }
  .block-flex span{
    font-size:14px;
    line-height:18px;
    display:block;
    padding-right:5px;
  }
  .block-product h4, .free-product h4, .extra-text{
    font-size:16px;
  }
  .add-to-cart button{
    font-size:16px;
  }
  .shipping-text{
    flex-wrap:wrap;
    justify-content:flex-start;
  }
  .shiping-item{
    margin-top:5px;
  }
}